.recipe {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: white;
  padding: 40px;
  box-sizing: border-box;
}
.recipe .time {
  color: coral;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  font-weight: 700;
  list-style-type: none;
  margin-right: 10px;
  color: #777;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {
  text-align: left;
  line-height: 1.5em;
}

.backLink {
  display: flex;
  justify-content: end;
  width: 100%;
}

.backBtn {
  width: 10rem;
  height: 3rem;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 700;
  color: #777;
  border-radius: 4px;
  border: #777;
}

/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}

.page-title.dark {
  color: #e4e4e4;
}
.page-li.dark {
  color: #e4e4e4;
}

@media screen and (max-width: 600px) {
  .recipe {
    padding: 30px;
  }

  .recipe .time {
    font-size: 0.7em;
    font-weight: 700;
  }
  .recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }
  .recipe li {
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 5px;
  }

  .method {
    text-align: left;
    line-height: 1.5em;
    font-size: 0.8rem;
  }
  .backBtn {
    width: 5rem;
    height: 2rem;
    margin-top: 0px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #888;
    border-radius: 4px;
    border: #777;
  }
}
