.searchBar form {
  display: flex;
  align-items: center;
}
/* 한글 단어 가로로 */
.searchBar label {
  word-break: keep-all;
}
.searchBar input {
  margin-left: 10%;
}

@media screen and (max-width: 600px) {
  .searchBar input {
    width: 80%;
    height: 30px;
    font-size: 12px;
  }
  .search {
    font-size: 10px;
  }
}
